* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --neutral8: #1B1F24;
  --neutral75: #23242A;
  --neutral7: #393b45;
  --neutral6: #5D6C83;
  --neutral5: #8895AA;
  --neutral4: #C3CAD5;
  --neutral3: #E4E7EC;
  --neutral2: #F0F2F4;
  --neutral1: #ffffff;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
a {
  color: var(--neutral2);
  text-decoration: none;
}
a:hover {
  color: var(--neutral1);
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
.wrapper
{
  width: 100%;
  height: 100%;
}
.heading-top-line {
  position: absolute;
  margin-left:-32px;
  width: 100%;
  max-width: 118px;
  min-height: 5px;
  margin-bottom: 24px;
  background-color: var(--neutral1);
}
.heading-top-line.large {
  max-width: 148px;
  min-height: 8px;
  margin-bottom: 48px;
}
.heading-vert-line {
  margin-left:-32px;
  position: absolute;
  height: 100%;
  max-height: 48px;
  min-width: 8px;
  background-color: var(--neutral1);
}
.heading-line-spacing {
  height: 32px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: var(--neutral75);
  background-size: cover;
  position: relative;
  overflow: hidden;
}
#hero-img {
  width: 100%;
  height: 100%;
  background: url("assets/EngineerCaptureEeveeT.png") top right no-repeat;
  position: absolute;
}
@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}
#hero .container {
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: var(--neutral2);
}
#hero p {
  color: var(--neutral2);
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
#hero .social-links {
  margin-top: 30px;
}
#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: var(--neutral2);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}
#hero .social-links a:hover {
  transform: translate3d(0px, 0px, 0px) scale(1.15);
  color: var(--neutral1);
}
@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
  width: 100%;
  height: 100vh;
  background-color: var(--neutral7);
  background-size: cover;
  position: relative;
}