* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --neutral8: #1B1F24;
  --neutral75: #23242A;
  --neutral7: #393b45;
  --neutral6: #5D6C83;
  --neutral5: #8895AA;
  --neutral4: #C3CAD5;
  --neutral3: #E4E7EC;
  --neutral2: #F0F2F4;
  --neutral1: #ffffff;
}
@font-face {
  font-family: 'Spacegrotesk';
  src: url('https://assets.website-files.com/622fbc5a718ac3417fcd3d75/622fc8f87fd5f314f8fc8126_SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spacegrotesk';
  src: url('https://assets.website-files.com/622fbc5a718ac3417fcd3d75/622fc8f89ce5a8375d74de96_SpaceGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Spacegrotesk';
  src: url('https://assets.website-files.com/622fbc5a718ac3417fcd3d75/622fc8f87653c0225d638848_SpaceGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: Spacegrotesk, sans-serif;
  margin: 0;
}
a {
  color: var(--neutral2);
  text-decoration: none;
}
a:hover {
  color: var(--neutral1);
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
.wrapper
{
  width: 100%;
  height: 100%;
}
.heading-top-line {
  position: absolute;
  margin-left:-24px;
  width: 100%;
  max-width: 118px;
  min-height: 5px;
  margin-bottom: 24px;
  background-color: var(--neutral1);
}
.heading-top-line.large {
  max-width: 148px;
  min-height: 8px;
  margin-bottom: 48px;
}
.heading-vert-line {
  margin-left:-24px;
  position: absolute;
  height: 100%;
  max-height: 32px;
  min-width: 8px;
  background-color: var(--neutral1);
}
.heading-line-spacing {
  height: 24px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: var(--neutral75);
  position: relative;
  overflow: hidden;
}
#hero-img {
  width: 100vmin;
  height: 100vmin;
  max-width: 60em;
  max-height: 60em;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  background: url("assets/EngineerCaptureEeveeT.png") center center no-repeat;
  background-size: contain;
  background-origin: content-box;
  position: absolute;
}
#hero .container {
  position: absolute;
  left: 38px;
  top: 24px;
}
#hero h1 {
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 100%;
  color: var(--neutral2);
}
#hero p {
  color: var(--neutral2);
  margin: 0.5em 0 0 0;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}
#hero .social-links {
  margin-top: 1em;
}
#hero .social-links a {
  font-size: 1.2em;
  display: inline-block;
  color: var(--neutral2);
  line-height: 100%;
  margin-right: 0.75em;
  transition: 0.3s;
}
#hero .social-links .social-link.not-hovered {
  transform: translate3d(0px, 1px, 0px);
  opacity: 0.5;
}
#hero .social-links .social-link.hovered {
  transform: translate3d(0px, -1px, 0px) scale(1.15);
  color: var(--neutral1);
  opacity: 1;
}
@media (max-width: 10000em) {
  #hero-img {
    max-width: 80vmin;
    max-height: 80vmin;
    top: auto;
    bottom: 0;
    transform: translate(30%, 0%) scale(-1, 1);
  }
}
#hero #scene-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vmin;
  height: 100vmin;
  z-index: 2;
  pointer-events: none;
}
#background-image {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: url("assets/Vector.svg") center center no-repeat;
  background-size: contain;
  transform: translate(20em, 15em) rotate(20deg) scale(2);
  z-index: 1;
  pointer-events: none;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
  width: 100%;
  height: 100vh;
  background-color: var(--neutral7);
  background-size: cover;
  position: relative;
}