* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --primaryHover: #ffffff;
  --primary: #dddddd;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: var(--primary);
  margin: 0;
}
a {
  color: var(--primary);
  text-decoration: none;
}
a:hover {
  color: var(--primaryHover);
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
.wrapper
{
  width: 100%;
  height: 100%;
  /*
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;*/
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: #393B45;
  background-size: cover;
  position: relative;
  overflow: hidden;
  /*transform-style: preserve-3d;
  z-index: 1;*/
}
#hero-img {
  width: 100%;
  height: 100%;
  background: url("assets/EngineerCaptureEeveeT.PNG") top right no-repeat;
  position: absolute;
  /*transform: translateZ(-10px);
  object-fit: cover;
  z-index: 1000;*/
}
@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}
#hero .container {
  padding: 30px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);/* translateZ(-10px) scale(1.5);
  z-index: 2000;*/
}
#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: var(--primary);
}
#hero p {
  color: var(--primary);
  margin: 15px 0 0 0;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
#hero .social-links {
  margin-top: 30px;
}
#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: var(--primary);
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}
#hero .social-links a:hover {
  color: var(--primaryHover);
}
@media (max-width: 992px) {
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
  width: 100%;
  height: 100vh;
  background-color: #D3DDF5;
  background-size: cover;
  position: relative;
}